  .App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#datosTiempo{
  min-height: 60vh;

}

.App-footer {
  min-height: 9vh;
  background-color: transparent;
}

#p1{
  font-size: xx-large;
  color: orange;
}

#p2{
  font-size: xx-large;
  color: blue;
}

#p3{
  font-size: xx-large;
  color: green;
}

.App-datostemp{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#titulos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.App-link {
  color: #61dafb;
}

#App-temp{
  font-size: x-large;
  color: black;
  text-shadow: 2px 2px 4px black;
}

#App-hum{
  font-size: x-large;
  color: black;
  text-shadow: 2px 2px 4px black;
}
#App-viento{
  font-size: x-large;
  color: black;
  text-shadow: 2px 2px 4px black;
}

